<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
            class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" class="loginForm">
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <label class="text-center" style="font-size: x-large;" for="userName">UserName</label>
                    <input type="username" id="userName" class="form-control" ngModel name="userName">
                </div>
                <!-- Password input -->
                <div class="form-outline mb-4">
                    <label class="text-center" style="font-size: x-large;" for="password">Password</label>
                    <input type="password" id="password" class="form-control" ngModel name="password">
                </div>
                <!-- Submit button -->
                <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!authForm.valid">Login</button>
            </form>
        </div>
      </div>
    </div>
</section>