<div class="container-fluid">
    <div class="row">
        <div class="col-6 pl-4 text-center">
            {{signalRService.userData?.name}}
        </div>
        <div class="col-6 text-right" style="cursor: pointer;" (click)="logOut()">
            Logout
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-3 offset-sm-3 mt-4">
            <label>Online Users</label>
            <ul class="list-group" *ngFor="let user of Users">
                <li class="list-group-item" style="cursor: pointer;" (click)="selectedUser = user">{{user.name}}</li>
            </ul>    
        </div>

    <div class="col-12 col-sm-3 mt-4">
        <label><b>{{selectedUser?.name}}</b></label>
            <div id="chatBox">
                <div #msgBox id="msgBox" [scrollTop]="msgBox.scrollHeight">
                    <div *ngFor="let msg of selectedUser?.msgs"
                    class="msg"
                    [class.mine] = "msg.mine"
                    >
                    {{msg.content}}
                    </div>
                </div>
                <textarea id="textarea" [(ngModel)]="msg"></textarea>
                <button id="sendBtn" class="btn btn-primary" [disabled]="selectedUser == null" (click)="sendMsgInv()">Send</button>
            </div>
    </div>
    </div>
</div>


<section class="gradient-custom">
    <div class="container py-5">
  
      <div class="row">
  
        <div class="col-md-6 col-lg-5 col-xl-5 mb-4 mb-md-0">  
          <h5 class="font-weight-bold mb-3 text-center text-black">Member</h5>
  
          <div class="card mask-custom">
            <div class="card-body">
  
              <ul class="list-unstyled mb-0" *ngFor="let user of Users">
                <!-- <li class="list-group-item" style="cursor: pointer;" (click)="selectedUser = user">{{user.name}}</li> -->

                <li class="p-2 border-bottom list-group-item" style="border-bottom: 1px solid rgba(255,255,255,.3) !important; cursor: pointer;" (click)="selectedUser = user">
                  <a href="#!" class="d-flex justify-content-between link-light">
                    <div class="d-flex flex-row">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-8.webp" alt="avatar"
                        class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                      <div class="pt-3 border">
                        <p class="fw-bold mb-0 text-black">{{user.name}}</p>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>  
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-lg-7 col-xl-7">
  
          <ul class="list-unstyled text-black">
            <li class="d-flex justify-content-between mb-4">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp" alt="avatar"
                class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
              <div class="card mask-custom">
                <div class="card-header d-flex justify-content-between p-3"
                  style="border-bottom: 1px solid rgba(255,255,255,.3);">
                  <p class="fw-bold mb-0">{{selectedUser?.name}}</p>
                  <!-- <p class="text-light small mb-0"><i class="far fa-clock"></i> 12 mins ago</p> -->
                </div>

                <div class="card-body">
                    <div class="mb-0" #msgBox id="msgBox" [scrollTop]="msgBox.scrollHeight">
                      <div *ngFor="let msg of selectedUser?.msgs"
                      class="msg"
                      [class.mine] = "msg.mine"
                      >
                      {{msg.content}}
                      </div>
                  </div>
                </div>
              </div>
            </li>
            

            
            
            <!-- <li class="d-flex justify-content-between mb-4">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp" alt="avatar"
                class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
              <div class="card mask-custom">
                <div class="card-header d-flex justify-content-between p-3"
                  style="border-bottom: 1px solid rgba(255,255,255,.3);">
                  <p class="fw-bold mb-0">Brad Pitt</p>
                  <p class="text-light small mb-0"><i class="far fa-clock"></i> 10 mins ago</p>
                </div>
                <div class="card-body">
                  <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                  </p>
                </div>
              </div>
            </li> -->
            <li class="mb-5">
              <div class="form-outline form-white">
                <textarea class="form-control" id="textAreaExample3" rows="4" [(ngModel)]="msg"></textarea>
                <label class="form-label" for="textAreaExample3">Message</label>
              </div>
            </li>
              <button type="button" class="btn btn-light btn-lg btn-rounded float-end" [disabled]="selectedUser == null" (click)="sendMsgInv()">Send</button>
            </ul>
          </div>
        </div>
      </div>
  </section>